#                         ASSIGNMENT NO. 4

# Importing Some Libraries

In [2]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re
import warnings
warnings.filterwarnings('ignore')

Question-1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
    
You need to find following details:
    
A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [10]:
#connect to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

#get webpage
url=("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.get(url)
time.sleep(2)

In [11]:
Rank= []
Name= []
Artist= []
Upload_date= []
Views= []

#scraping Rank
try:
    Rank_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
    for i in Rank_tag:
        Rank.append(i.text)
except NoSuchElementException as e:
    Rank.append("--")

#scraping Name
try:
    Name_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
    for i in Name_tag:
        Name.append(i.text.split('[')[0])
except NoSuchElementException as e:
    Name.append("--") 

#scraping Artist
try:
    Artist_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
    for i in Artist_tag:
        Artist.append(i.text)
except NoSuchElementException as e:
    Artist.append("--")

#scraping Upload date
try:
    Upload_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
    for i in Upload_tag:
        Upload_date.append(i.text)
except NoSuchElementException as e:
    Upload_date.append("--")

#Scraping views
try:
    View_tag= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
    for i in View_tag:
        Views.append(i.text)
except NoSuchElementException as e:
    Views.append("--")
    
#printing length
print(len(Rank),len(Name),len(Artist),len(Upload_date),len(Views))

#creating DataFrame
viewed_videos=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload_date":Upload_date,"Views":Views})
viewed_videos

49 49 49 49 49

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.58
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.99
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.50
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.83
4,5.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.68
5,6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.68
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.96
7,8.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.73
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.69
9,10.,"""Gangnam Style""",Psy,"July 15, 2012",4.58
10,11.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.50
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.11
13,14.,"""Sugar""",Maroon 5,"January 14, 2015",3.77
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.67
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.67
16,17.,"""Sorry""",Justin Bieber,"October 22, 2015",3.60
17,18.,"""Axel F""",Crazy Frog,"June 16, 2009",3.56
18,18.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.51
19,20.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.41
20,21.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.37
21,22.,"""Faded""",Alan Walker,"December 3, 2015",3.36
22,23.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.34
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",3.32
24,25.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.29
25,26.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.28
26,27.,"""Lean On""",Major Lazer,"March 22, 2015",3.28
27,28.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.27
28,29.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.22
29,30.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.19
30,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","November 2, 2020","June 17, 2016"
31,"""Despacito""[6]",Luis Fonsi,"2,993,700,000","August 4, 2017","January 12, 2017"
32,"""See You Again""[16]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
33,"""Gangnam Style""⁂[24]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
34,"""Baby""*[61]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
35,"""Bad Romance""[65]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
36,"""Charlie Bit My Finger""‡[69]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
37,"""Evolution of Dance""[72]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
38,"""Girlfriend""‡[74][75]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
39,"""Evolution of Dance""[72]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
40,"""Music Is My Hot Hot Sex""‡[79]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
41,"""Evolution of Dance""*[72]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
42,"""Pokémon Theme Music Video""‡[85]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
43,"""Myspace – The Movie""‡[90][91]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
44,"""Phony Photo Booth""‡[94]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
45,"""The Chronic of Narnia Rap""‡[96]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
46,"""Ronaldinho: Touch of Gold""‡*[98]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
47,"""I/O Brush""‡*[101]",larfus,"247,000","October 29, 2005","October 5, 2005"
48,"""Me at the zoo""[103]",jawed,1,"April 23, 2005","April 23, 2005"

In [12]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.
    
You need to find following details:
    
A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [8]:
#connect to webdriver
driver_2=webdriver.Chrome(r'chromedriver.exe')
driver_2.maximize_window()

#get webpage
url=("https://www.bcci.tv/")
driver_2.get(url)
time.sleep(2)

In [9]:
#clicking on menu
button= driver_2.find_element(By.XPATH,'//span[@class = "menu-icon__line menu-icon__line-right"]').get_attribute('href')

In [10]:
#selecting International
International= driver_2.find_element(By.XPATH,'//a[@class = "nav-link "]').click()

In [11]:
#clicking on dropdown
Select= driver_2.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[1]').click()

In [12]:
#selecting ODI
OdI= driver_2.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]').click()

In [13]:
Match_title= []
Series= []
Place= []
Date= []
Time= []

#scraping Match Title
try:
    Match_title_tag= driver_2.find_elements(By.XPATH,"//div[@class='fixture-card-top']/h5[2]")
    for i in Match_title_tag:
        Match_title.append(i.text)
except NoSuchElementException as e:
    Match_title.append("--")

#scraping Series
try:
    Series_tag= driver_2.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Series_tag:
        Series.append(i.text.split("-")[0])
except NoSuchElementException as e:
    Series.append("--")
    
#scraping Place
try:
    Place_tag= driver_2.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Place_tag:
        Place.append(i.text.split("-")[1].replace("\n",","))
except NoSuchElementException as e:
    Place.append("--") 

#scraping Date
try:
    Date_tag= driver_2.find_elements(By.XPATH,"//div[@class='match-card-left match-schedule']")
    for i in Date_tag:
        Date.append(i.text)
except NoSuchElementException as e:
    Date.append("--")

#scraping Time   
try:
    Time_tag= driver_2.find_elements(By.XPATH,"//div[@class='match-card-right match-schedule ']")
    for i in Time_tag:
        Time.append(i.text)
except NoSuchElementException as e:
    Time.append("--")

#printing length
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

#creating Dataframe
international_fixtures=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
international_fixtures

6 6 6 6 6

,Match_title,Series,Place,Date,Time
0,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,1st ODI,"Eden Park, Auckland,Match Centre",25 NOV 2022,7:00 AM IST
1,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,2nd ODI,"Seddon Park, Hamilton,Match Centre",27 NOV 2022,7:00 AM IST
2,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,3rd ODI,"Hagley Oval, Christchurch,Match Centre",30 NOV 2022,7:00 AM IST
3,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,1st ODI,"Shere Bangla National Stadium, Mirpur, Dhaka,...",4 DEC 2022,12:30 PM IST
4,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,2nd ODI,"Shere Bangla National Stadium, Mirpur, Dhaka,...",7 DEC 2022,12:30 PM IST
5,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,3rd ODI,"Shere Bangla National Stadium, Mirpur, Dhaka,...",10 DEC 2022,12:30 PM IST

3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
    
You need to find following details:
    
A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [108]:
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.get('https://www.guru99.com/')

In [109]:
sel = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
sel.click()

In [110]:
for _ in range(65):
    driver.execute_script("window.scrollBy(0,65)")

In [111]:
tut = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
tut.click()

In [112]:
author = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/header/div/span[1]')
au = author.text.replace('\n',' ')

In [113]:
description = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div')
de = description.text.replace('\n',' ')

In [114]:
guru = pd.Series({'Author':au,'Description':de})
guru

Author                                         By Krishna Rungta
Description    What is an Exceptions? An exception is an erro...
dtype: object

In [115]:
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [29]:
driver = webdriver.Chrome("chromedriver.exe")

In [30]:
# lets create with url

url = "http://statisticstimes.com/"
driver.get (url)
time.sleep(3)

In [32]:
# follow the instruction , we will choose the economy option

urls = driver.find_element(By.XPATH,"//div[@class='dropdown-content']//a[3]")
ind_page = urls.get_attribute("href")

# going to the india economy page

driver.get(ind_page)

In [33]:
# get the url of page containing GDP of indian states

sta_GDP = driver.find_element(By.XPATH,"//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

In [34]:
#Creating empty list

Rank = []
State = []
Gsdp_1 = []
Gsdp_2 = []
Share = []
Gsdp = []

In [37]:
# scrapping the data of rank

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)

In [38]:
# scrapping the data of state name

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

In [39]:
# scrapping the data of Gsdp_1

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    Gsdp_1.append(i.text)

In [40]:
# scrapping the data of Gsdp_2

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    Gsdp_2.append(i.text)

In [41]:
# scrapping the data of share

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

In [42]:
#scrapping the data of Gsdp

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    Gsdp.append(i.text)

In [43]:
#DATA FRAMEING
StatisticsTime=pd.DataFrame({})
StatisticsTime['Rank'] = Rank
StatisticsTime['State'] = State
StatisticsTime['Current GSDP (19-20)'] = Gsdp_1
StatisticsTime['current GSDP (18-19)'] = Gsdp_2
StatisticsTime['Share(18-19)'] = Share
StatisticsTime['GDP($ billion)'] = Gsdp

In [44]:
StatisticsTime

,Rank,State,Current GSDP (19-20),current GSDP (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

    You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [57]:
driver_5=webdriver.Chrome('chromedriver.exe')
driver_5.maximize_window()
url=(" https://github.com/")
driver_5.get(url)
time.sleep(2)

In [58]:
# Clicking on Trending under explore sub menu
trending = driver_5.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver_5.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver_5.get(trending.get_attribute('href'))

In [59]:
Repository_title= []
Repository_description= []
Contributors_count= []
Language_used= []
urls=[]

#Scraping title of repository
try:
    Repository_title_tag=driver_5.find_elements(By.XPATH,'//article[@class="Box-row"]/h1/a')
    for i in Repository_title_tag:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')
    
#Scraping description of Repository
try:
    description=driver_5.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in description:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

for i in [Repository_title_tag,description]:
    for j in i:
        if i ==Repository_title_tag:
            Repository_title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==description:
            Repository_description.append(j.text)
    
for url in urls:
    driver_5.get(url)
    driver_5.implicitly_wait(3)
    div_list=driver_5.find_elements(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div')
    #Scraping count of contributors   
    try:
        Contributors_count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_count.append('-')
    #Scraping used language
    try:
        Language_used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_used.append('-')
        
#printing length
len(Repository_title),len(Repository_description),len(Language_used),len(Contributors_count)

#creating Dataframe
github_trending=pd.DataFrame({"Repository_title":Repository_title[:25],"Repository_description":Repository_description[:25],"Language_used":Language_used[:25],"Contributors_count":Contributors_count[:25]})
github_trending

,Repository_title,Repository_description,Language_used,Contributors_count
0,hellof2e / quark-design,"Next generation Frontend component library, it...","[TypeScript, Vue, JavaScript, CSS, SCSS, HTML]",14
1,remix-run / remix,"Build Better Websites. Create modern, resilien...","[TypeScript, JavaScript]",458
2,NCSC-NL / OpenSSL-2022,Operational information regarding CVE-2022-360...,"[72, 61]",No
3,AMAI-GmbH / AI-Expert-Roadmap,Roadmap to becoming an Artificial Intelligence...,"[JavaScript, Vue, Stylus]",9
4,TeamNewPipe / NewPipe,A libre lightweight streaming front-end for An...,"[Java, Kotlin, HTML]",755
5,yangshun / tech-interview-handbook,💯 Curated coding interview preparation materia...,"[TypeScript, JavaScript, Python, HTML, Other]",125
6,Eilonh / s3crets_scanner,TLS/SSL and crypto library,[Python],-
7,openssl / openssl,"Your self-hosted, globally interconnected micr...","[C, Perl, Raku, Assembly, Shell, C++, Other]",715
8,mastodon / mastodon,A complete computer science study plan to beco...,"[Ruby, JavaScript, SCSS, Haml, HTML, Dockerfil...",689
9,jwasham / coding-interview-university,⭐️ Companies that don't have a broken hiring p...,"[278, 267]",by
10,poteto / hiring-without-whiteboards,"Focalboard is an open source, self-hosted alte...",[JavaScript],"1,005"
11,mattermost / focalboard,Code for MobiCom'22 paper 'TinyML-CAM: 80 FPS ...,"[TypeScript, Go, SCSS, Makefile, Swift, C#, Ot...",230
12,bharathsudharsan / TinyML-CAM,A cross-platform UI framework for .NET,"[Jupyter, 96.1%, 3.9%]",-
13,AvaloniaUI / Avalonia,Go client for Kubernetes.,"[C#, Objective-C++, TypeScript, Objective-C, C...",269
14,kubernetes / client-go,🐉 Material Component Framework for Vue,[Go],507
15,vuetifyjs / vuetify,A social networking technology created by Bluesky,"[TypeScript, Vue, Sass, JavaScript, SCSS, HTML]",725
16,bluesky-social / atproto,A Swift Autolayout DSL for iOS & OS X,"[TypeScript, JavaScript, Other]",12
17,SnapKit / SnapKit,Lightning Network Daemon ⚡️,"[Swift, Ruby]",89
18,lightningnetwork / lnd,You like pytorch? You like micrograd? You love...,"[Go, Other]",303
19,geohot / tinygrad,Dear ImGui: Bloat-free Graphical User interfac...,"[Python, Verilog, C, Objective-C++, C++, Shell...",68
20,ocornut / imgui,Deep Learning Examples,"[C++, C, Objective-C++, Objective-C, GLSL, GDB]",307
21,NVIDIA / DeepLearningExamples,"A list of SaaS, PaaS and IaaS offerings that h...","[Python, Jupyter, 42.4%, 3.2%, 2.8%, 1.3%, 0.2...",88
22,ripienaar / free-for-dev,Public repository of the QuickJS Javascript En...,[HTML],"1,277"
23,bellard / quickjs,A new type of shell,"[C, JavaScript, Other]",-
24,nushell / nushell,"Next generation Frontend component library, it...","[Rust, Nu, Python, Shell, Dockerfile, PowerShell]",402

In [60]:
driver_5.close()

6.Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [65]:
# lets active the chrome

driver=webdriver.Chrome('chromedriver.exe')

In [66]:
# connecting chrome with the url 

url = "https:/www.billboard.com/"
driver.get(url)

In [68]:
# scrapping the url page

Urls=[]
for i in driver.find_elements(By.XPATH,"//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex']/a"):
    Urls.append(i.get_attribute("href"))
Urls

['https://www.billboard.com/charts',
 'https://www.billboard.com/c/music/',
 'https://www.billboard.com/c/culture/',
 'https://www.billboard.com/c/media/',
 'https://www.billboard.com/pro',
 'https://www.billboard.com/charts',
 'https://www.billboard.com/c/music/',
 'https://www.billboard.com/c/culture/',
 'https://www.billboard.com/c/media/',
 'https://www.billboard.com/pro']

In [69]:
# calling charts url

driver.get(Urls[0])

In [71]:
# clicking on hot 100

hot=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span')
hot.click()

In [73]:
# scarpping the song name

name=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li/h3')
len(name)

Song_name=[]
for j in name:
    Song_name.append(j.text)
Song_name

['Anti-Hero',
 'Lavender Haze',
 'Maroon',
 'Snow On The Beach',
 'Midnight Rain',
 'Bejeweled',
 'Question...?',
 "You're On Your Own, Kid",
 'Karma',
 'Vigilante Shit',
 'Unholy',
 'Bad Habit',
 'Mastermind',
 'Labyrinth',
 'Sweet Nothing',
 'As It Was',
 'I Like You (A Happier Song)',
 "I Ain't Worried",
 'You Proof',
 "Would've, Could've, Should've",
 'Bigger Than The Whole Sky',
 'Super Freaky Girl',
 'Sunroof',
 "I'm Good (Blue)",
 'Under The Influence',
 'The Great War',
 'Vegas',
 'Something In The Orange',
 'Wasted On You',
 'Jimmy Cooks',
 'Wait For U',
 'Paris',
 'High Infidelity',
 'Tomorrow 2',
 'Titi Me Pregunto',
 'About Damn Time',
 'The Kind Of Love We Make',
 'Late Night Talking',
 'Cuff It',
 'She Had Me At Heads Carolina',
 'Glitch',
 'Me Porto Bonito',
 'Die For You',
 'California Breeze',
 'Dear Reader',
 'Forever',
 'Hold Me Closer',
 'Just Wanna Rock',
 '5 Foot 9',
 'Unstoppable',
 'Thank God',
 'Fall In Love',
 'Rock And A Hard Place',
 'Golden Hour',
 'Heyy',
 'Half Of Me',
 'Until I Found You',
 'Victoria’s Secret',
 'Son Of A Sinner',
 "Star Walkin' (League Of Legends Worlds Anthem)",
 'Romantic Homicide',
 'What My World Spins Around',
 'Real Spill',
 "Don't Come Lookin'",
 'Monotonia',
 'Stand On It',
 'Never Hating',
 'Wishful Drinking',
 'No Se Va',
 'Free Mind',
 'Not Finished',
 'Music For A Sushi Restaurant',
 'Pop Out',
 'Staying Alive',
 'Poland',
 'Whiskey On You',
 'Billie Eilish.',
 'Betty (Get Money)',
 '2 Be Loved (Am I Ready)',
 'Wait In The Truck',
 'All Mine',
 'La Bachata',
 'Last Last',
 'Glimpse Of Us',
 'Freestyle',
 'Calm Down',
 'Gatubela',
 'Evergreen',
 'Pick Me Up',
 'Gotta Move On',
 'Perfect Timing',
 'Country On',
 'Snap',
 'She Likes It',
 'Made You Look',
 'Dark Red',
 'From Now On',
 'Forget Me',
 'Miss You',
 'Despecha']

In [74]:
# checking the length of song_name

len(Song_name)

100

In [75]:
# scrraping the artist name

Artist=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[1]/span')
len(Artist)

artist_name=[]
for k in Artist:
    artist_name.append(k.text)
artist_name

['Taylor Swift',
 'Taylor Swift',
 'Taylor Swift',
 'Taylor Swift Featuring Lana Del Rey',
 'Taylor Swift',
 'Taylor Swift',
 'Taylor Swift',
 'Taylor Swift',
 'Taylor Swift',
 'Taylor Swift',
 'Sam Smith & Kim Petras',
 'Steve Lacy',
 'Taylor Swift',
 'Taylor Swift',
 'Taylor Swift',
 'Harry Styles',
 'Post Malone Featuring Doja Cat',
 'OneRepublic',
 'Morgan Wallen',
 'Taylor Swift',
 'Taylor Swift',
 'Nicki Minaj',
 'Nicky Youre & dazy',
 'David Guetta & Bebe Rexha',
 'Chris Brown',
 'Taylor Swift',
 'Doja Cat',
 'Zach Bryan',
 'Morgan Wallen',
 'Drake Featuring 21 Savage',
 'Future Featuring Drake & Tems',
 'Taylor Swift',
 'Taylor Swift',
 'GloRilla & Cardi B',
 'Bad Bunny',
 'Lizzo',
 'Luke Combs',
 'Harry Styles',
 'Beyonce',
 'Cole Swindell',
 'Taylor Swift',
 'Bad Bunny & Chencho Corleone',
 'The Weeknd',
 'Lil Baby',
 'Taylor Swift',
 'Lil Baby Featuring Fridayy',
 'Elton John & Britney Spears',
 'Lil Uzi Vert',
 'Tyler Hubbard',
 'Sia',
 'Kane Brown With Katelyn Brown',
 'Bailey Zimmerman',
 'Bailey Zimmerman',
 'JVKE',
 'Lil Baby',
 'Thomas Rhett Featuring Riley Green',
 'Stephen Sanchez',
 'Jax',
 'Jelly Roll',
 'Lil Nas X',
 'd4vd',
 'Jordan Davis',
 'Lil Baby',
 'Jackson Dean',
 'Shakira + Ozuna',
 'Lil Baby',
 'Lil Baby & Young Thug',
 'Ingrid Andress With Sam Hunt',
 'Grupo Frontera',
 'Tems',
 'Lil Baby',
 'Harry Styles',
 'Lil Baby & Nardo Wick',
 'DJ Khaled Featuring Drake & Lil Baby',
 'Lil Yachty',
 'Nate Smith',
 'Armani White',
 'Yung Gravy',
 'Lizzo',
 'HARDY Featuring Lainey Wilson',
 'Brent Faiyaz',
 'Manuel Turizo',
 'Burna Boy',
 'Joji',
 'Lil Baby',
 'Rema & Selena Gomez',
 'Karol G x Maldy',
 'Omar Apollo',
 'Gabby Barrett',
 'Diddy & Bryson Tiller',
 'Lil Baby',
 'Luke Bryan',
 'Rosa Linn',
 'Russell Dickerson & Jake Scott',
 'Meghan Trainor',
 'Steve Lacy',
 'Lil Baby Featuring Future',
 'Lewis Capaldi',
 'Oliver Tree & Robin Schulz',
 'Rosalia']

In [76]:
# scrapping the week pee rank

wrank=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[4]/span')
len(wrank)

Last_week_rank=[]
for k in wrank:
    Last_week_rank.append(k.text)
Last_week_rank

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '1',
 '2',
 '-',
 '-',
 '-',
 '3',
 '5',
 '6',
 '7',
 '-',
 '-',
 '9',
 '11',
 '14',
 '29',
 '-',
 '13',
 '12',
 '17',
 '31',
 '18',
 '-',
 '-',
 '24',
 '25',
 '20',
 '23',
 '27',
 '33',
 '28',
 '-',
 '30',
 '37',
 '4',
 '-',
 '8',
 '34',
 '86',
 '41',
 '39',
 '38',
 '36',
 '35',
 '62',
 '21',
 '63',
 '48',
 '47',
 '49',
 '43',
 '46',
 '51',
 '10',
 '50',
 '-',
 '22',
 '19',
 '60',
 '67',
 '65',
 '26',
 '74',
 '15',
 '66',
 '40',
 '55',
 '71',
 '59',
 '72',
 '75',
 '78',
 '82',
 '73',
 '56',
 '84',
 '89',
 '83',
 '77',
 '90',
 '79',
 '32',
 '91',
 '95',
 '93',
 '-',
 '-',
 '42',
 '99',
 '-',
 '92']

In [78]:
# scraping the weeks on baord

weeks=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[6]/span')
len(weeks)

Weeks_on_board=[]
for k in weeks:
    Weeks_on_board.append(k.text)
Weeks_on_board

['1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '5',
 '17',
 '1',
 '1',
 '1',
 '30',
 '21',
 '20',
 '24',
 '1',
 '1',
 '11',
 '22',
 '9',
 '7',
 '1',
 '21',
 '27',
 '50',
 '19',
 '26',
 '1',
 '1',
 '5',
 '25',
 '28',
 '19',
 '23',
 '11',
 '22',
 '1',
 '25',
 '13',
 '2',
 '1',
 '2',
 '9',
 '2',
 '20',
 '17',
 '7',
 '26',
 '20',
 '9',
 '3',
 '10',
 '17',
 '13',
 '17',
 '5',
 '8',
 '11',
 '2',
 '9',
 '1',
 '2',
 '2',
 '17',
 '5',
 '15',
 '2',
 '15',
 '2',
 '12',
 '3',
 '19',
 '7',
 '16',
 '11',
 '8',
 '12',
 '10',
 '16',
 '20',
 '7',
 '8',
 '9',
 '6',
 '13',
 '4',
 '2',
 '10',
 '9',
 '30',
 '1',
 '5',
 '2',
 '4',
 '1',
 '12']

In [80]:
# scrraoing the peak rank

peak=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[5]/span')
len(peak)

Peak_rank=[]
for k in peak:
    Peak_rank.append(k.text)
Peak_rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '1',
 '1',
 '13',
 '14',
 '15',
 '1',
 '3',
 '6',
 '5',
 '20',
 '21',
 '1',
 '4',
 '14',
 '23',
 '26',
 '10',
 '12',
 '9',
 '1',
 '1',
 '32',
 '33',
 '9',
 '5',
 '1',
 '8',
 '3',
 '13',
 '16',
 '41',
 '6',
 '33',
 '4',
 '45',
 '8',
 '6',
 '48',
 '22',
 '28',
 '22',
 '29',
 '24',
 '54',
 '21',
 '53',
 '38',
 '35',
 '31',
 '32',
 '33',
 '41',
 '10',
 '50',
 '65',
 '22',
 '19',
 '47',
 '57',
 '46',
 '26',
 '8',
 '15',
 '5',
 '40',
 '44',
 '58',
 '30',
 '55',
 '54',
 '42',
 '67',
 '44',
 '8',
 '63',
 '74',
 '37',
 '51',
 '69',
 '79',
 '32',
 '72',
 '82',
 '63',
 '95',
 '78',
 '42',
 '95',
 '99',
 '63']

In [81]:
# Data Framing

HOT=pd.DataFrame()

HOT['Song_name']= Song_name
HOT['Artist_name ']= artist_name
HOT['Last_week_rank']= Last_week_rank
HOT['Peak_rank']= Peak_rank
HOT['Weeks_on_board']= Weeks_on_board
HOT

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Anti-Hero,Taylor Swift,-,1,1
1,Lavender Haze,Taylor Swift,-,2,1
2,Maroon,Taylor Swift,-,3,1
3,Snow On The Beach,Taylor Swift Featuring Lana Del Rey,-,4,1
4,Midnight Rain,Taylor Swift,-,5,1
...,...,...,...,...,...
95,Dark Red,Steve Lacy,-,78,5
96,From Now On,Lil Baby Featuring Future,42,42,2
97,Forget Me,Lewis Capaldi,99,95,4
98,Miss You,Oliver Tree & Robin Schulz,-,99,1
99,Despecha,Rosalia,92,63,12

7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [82]:
#connect to webdriver
driver_7=webdriver.Chrome(r'chromedriver.exe')
driver_7.maximize_window()

#get webpage
url=("https://www.naukri.com/hr-recruiters-consultants")
driver_7.get(url)
time.sleep(2)

In [83]:
#click on Browse All Recruiters
browse= driver_7.find_element(By.XPATH,"//a[@title='Search Recruiters']").get_attribute("href")
driver_7.get(browse)

#Search for Data Science Recruiters
driver_7.find_element(By.XPATH,"//input[@class='sugInp']").send_keys("Data Science")
driver_7.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']").click()

In [84]:
Name= []
Designation= []
Company= []
Skills= []
Location= []

In [85]:
#scraping Recruiters Name
try:
    Name_tag=driver_7.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
    for i in Name_tag:
        Name.append(i.text)
except:
    Name.append("-")
    
#scraping Designation    
try:
    Designation_tag=driver_7.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
    for i in Designation_tag:
        Designation.append(i.text)
except:
    Designation.append("-")

#scraping company    
try:
    Company_tag=driver_7.find_elements(By.XPATH,"//a[@class='ellipsis']")[1::2]
    for i in Company_tag:
        Company.append(i.text)
except:
    Company.append("-")
    
#scraping skills    
try:
    Skills_tag=driver_7.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
    for i in Skills_tag:
        Skills.append(i.text)
except:
    Skills.append("-")

#scraping Location
try:
    Location_tag=driver_7.find_elements(By.XPATH,"//small[@class='ellipsis']")
    for i in Location_tag:
            Location.append(i.text)
except:
        Location.append("-")

#printing length
print(len(Name), len(Designation),len(Company), len(Skills), len(Location))

50 50 50 50 48

In [86]:
#creating Dataframe
recruiters=pd.DataFrame({"Name":Name[:48],"Designation":Designation[:48],"Company":Company[:48],"Skills":Skills[:48],"Location":Location})
recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad

8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [87]:
#connect to webdriver
driver_8=webdriver.Chrome(r'chromedriver.exe')
driver_8.maximize_window()

#get webpage
url=("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver_8.get(url)
time.sleep(2)

In [88]:
Books=[]
Genre=[]

#scraping novels
try:
    Books_tag=driver_8.find_elements(By.XPATH,"//td[@class='left']")
    for i in Books_tag:
        Books.append(i.text)
except:
    Books.append("-")
    
#scraping novel's genre
try:
    Genre_tag=driver_8.find_elements(By.XPATH,"//td[@class='last left']")
    for i in Genre_tag:
        Genre.append(i.text)
except:
    Genre.append("-")

In [89]:
#slicing novels data
Book_name=Books[1::5]
Author_name=Books[2::5]
Volumes_sold=Books[3::5]
Publisher=Books[4::5]

In [90]:
#printing length
print(len(Book_name), len(Author_name),len(Volumes_sold), len(Publisher), len(Genre))

100 100 100 100 100

In [91]:
#creating Dataframe
novels=pd.DataFrame({"Book Name":Book_name,"Author Name":Author_name,"Volumes Sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [92]:
driver_8.close()

9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [93]:
#connect to webdriver
driver_9=webdriver.Chrome(r'chromedriver.exe')
driver_9.maximize_window()

#get webpage
url=("http://www.imdb.com/list/ls095964455/")
driver_9.get(url)
time.sleep(2)

In [94]:
Name= []
Year_span= []
Genre= []
Run_time= []
Ratings= []
Votes= []

#scraping series name
try:
    Name_tag= driver_9.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in Name_tag:
        Name.append(i.text)
except NoSuchElementException as e:
    Name.append("--")

#scraping series Year span
try:
    Year_span_tag= driver_9.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
    for i in Year_span_tag:
        Year_span.append(i.text)
except NoSuchElementException as e:
    Year_span.append("--") 
    
#scraping series Genre
try:
    Genre_tag= driver_9.find_elements(By.XPATH,"//span[@class='genre']")
    for i in Genre_tag:
        Genre.append(i.text)
except NoSuchElementException as e:
    Genre.append("--")
    
#scraping series Run Time
try:
    Run_time_tag= driver_9.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in Run_time_tag:
        Run_time.append(i.text)
except NoSuchElementException as e:
    Run_time.append("--")
    
#scraping series Ratings
try:
    Ratings_tag= driver_9.find_elements(By.XPATH,"//span[@class='ipl-rating-star__rating']")
    for i in Ratings_tag[::23]:
        Ratings.append(i.text)
except NoSuchElementException as e:
    Ratings.append("--")
    
#scraping series Votes
try:
    Votes_tag= driver_9.find_elements(By.XPATH,"//span[@name='nv']")
    for i in Votes_tag:
        Votes.append(i.text)
except NoSuchElementException as e:
    Votes.append("--")
    
#printing length
print(len(Name), len(Year_span), len(Genre), len(Run_time), len(Ratings), len(Votes))

100 100 100 100 100 100

In [95]:
#creating Dataframe
tv_series= pd.DataFrame({"Name":Name[:100],"Year span":Year_span[:100],"Genre":Genre[:100],"Run time":Run_time[:100],"Ratings":Ratings[:100],"Votes":Votes[:100]})
tv_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,077,041"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,167,512"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"978,768"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"291,377"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"250,488"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,933"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,061"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"196,516"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,403"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"242,362"

In [96]:
driver_9.close()

10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [101]:
#connect to webdriver
driver_0=webdriver.Chrome(r'chromedriver.exe')
driver_0.maximize_window()

#get webpage
url=("https://archive.ics.uci.edu/")
driver_0.get(url)
time.sleep(2)

In [102]:
#clicking on view all Dataset
Dataset= driver_0.find_elements(By.XPATH,"//span[@class='normal']/b/a")[0].get_attribute('href')
driver_0.get(Dataset)

In [103]:
# Scraping dataset
data=[]
try:
    data_tag=driver_0.find_elements(By.XPATH,"//td//p[@class='normal']")
    for i in data_tag[8:4362]:
        data.append(i.text )
except:
    data.append('-')

In [104]:
#slicing dataset
Dataset_name=data[::7]
Data_type=data[1::7]
Task=data[2::7]
Attribute_type=data[3::7]
instances=data[4::7]
attribute=data[5::7]
Year=data[6::7]

In [105]:
#printing length
print(len(Dataset_name), len(Data_type), len(Task), len(Attribute_type), len(instances), len(attribute), len(Year))

622 622 622 622 622 622 622

In [106]:
#creating Dataframe
Datasets= pd.DataFrame({"Dataset name":Dataset_name,"Data type":Data_type,"Task":Task,"Attribute type":Attribute_type,"Instances":instances,"Attribute":attribute,"Year":Year})
Datasets

,Dataset name,Data type,Task,Attribute type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021