In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#importing required drivers
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:

1.First get the webpage https://www.naukri.com/
    
2.Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data

In [5]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [6]:
#getting webpage https://www.naukri.com
driver.get('https://www.naukri.com/')

In [8]:
#entering "Data Analyst" in "Skill, Designation, Companies" field
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")                              
designation.send_keys('Data Analyst')

In [10]:
#entering "Bangalore" in "enter the location" field
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [11]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [12]:
# Scrapping job-title from the webpage
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the webpage
job_location=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    job_location.append(i.text)

# Scrapping Company Name from the webpage
company_name=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(i.text)

# Scrapping Experience from the webpage
experience_required=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[0:10]:
    experience_required.append(i.text)

In [13]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Experience_required':experience_required})
df

,Job_Title,Job_Location,Company_Name,Experience_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
5,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
6,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:

1.First get the webpage https://www.naukri.com/
    
2.Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data.

In [15]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [16]:
#getting webpage https://www.naukri.com
driver.get('https://www.naukri.com/')

In [17]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [19]:
#entering "Bangalore" in "enter the location" field
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [21]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [22]:
# Scrapping job-title from the webpage
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the webpage
job_location=[]
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    job_location.append(j.text)

# Scrapping Company Name from the webpage
company_name=[]
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(k.text)

In [23]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name})
df

,Job_Title,Job_Location,Company_Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
4,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart
9,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:

1first get the webpage https://www.naukri.com/
    
2.Enter “Data Scientist” in “Skill, Designations, and Companies” field.

3.Then click the search button.

4.Then apply the location filter and salary filter by checking the respective boxes

5.Then scrape the data for the first 10 jobs results you get.

6.Finally create a dataframe of the scraped data.

In [24]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [25]:
#getting webpage https://www.naukri.com
driver.get('https://www.naukri.com/')

In [26]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [27]:
#clicking the Search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [29]:
#applying location filter and selecting "Delhi/NCR" otion
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[2]/div[2]/article[1]/div[1]/div[1]/ul/li[3]/span')
location.click()

In [31]:
#applying Salary filter and selecting "3-6 lakhs" otion
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[2]/div[2]/article[1]/div[1]/div[1]/ul/li[2]/span')
salary.click()

In [32]:
# Scrapping job-title from the webpage
jtitle=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    jtitle.append(i.text)
    
# Scrapping job-location from the webpage
jloc=[]
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    jloc.append(j.text)

# Scrapping Company name from the webpage
comp=[]
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    comp.append(k.text)
    
# Scrapping Experience required from the webpage
exp=[]
for l in  driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[0:10]:
    exp.append(l.text)

In [33]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':jtitle,'Job_Location':jloc,'Company_Name':comp,'Experience required':exp})
df

,Job_Title,Job_Location,Company_Name,Experience required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida),R Systems International,7-10 Yrs
4,Data Scientist,(WFH during Covid),Optum,2-7 Yrs
5,Data Scientist / Chat-bot Developer,Gurgaon/Gurugram,Big Seo Buzz,3-7 Yrs
6,Data Scientist - Engine Algorithm,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Primo Hiring,1-3 Yrs
7,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
8,Data Scientist,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",NGI Ventures,0-5 Yrs
9,Data Scientist,Noida,torcai digital media,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand

2.Product Description

3.Price The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:

1.Go to Flipkart webpage by url : https://www.flipkart.com/
        
2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

3.After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

4.After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.

5.Now scrape data from this page as usual

6.Repeat this until you get data for 100 sunglasses.

In [51]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [52]:
#getting webpage https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [53]:
# closing the log-in page window
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [54]:
#entering "sunglasses" in "search for products" field
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

In [55]:
#clicking the Search button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [56]:
# Scrapping Brand detail from the webpage
brand=[]
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

# Scrapping Product Description from the webpage
pro1=[]
for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
    pro1.append(j.text)
    
pro2=[]
for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    pro2.append(j.text)
    
pro_des=pro1+pro2

# Scrapping Price from the webpage
price=[]
for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    price.append(k.text)

# Scrapping Discount from the webpage
dis=[]
for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    dis.append(l.text)

In [57]:
# converting 1st page scrapped data into DataFrame
df=pd.DataFrame({'Brand':brand,'Product Description':pro_des,'Price':price,'Discount':dis})
df

,Brand,Product Description,Price,Discount
0,SKYZA INDIA,"UV Protection, Mirrored Spectacle Sunglasses (...",₹399,60% off
1,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",₹272,86% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹179,86% off
4,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),₹199,50% off
5,SHAAH COLLECTIONS,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179,86% off
6,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹249,58% off
7,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹999,60% off
8,MODE,UV Protection Aviator Sunglasses (Free Size),₹179,77% off
9,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
10,SHAAH COLLECTIONS,UV Protection Aviator Sunglasses (54),₹179,82% off
11,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹599,70% off
12,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
13,SHAAH COLLECTIONS,UV Protection Rectangular Sunglasses (Free Size),₹179,82% off
14,SHAAH COLLECTIONS,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179,86% off
15,LIZA ANGEL,"UV Protection, Polarized Rectangular Sunglasse...",₹261,73% off
16,PIRASO,UV Protection Aviator Sunglasses (58),₹305,88% off
17,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹199,80% off
18,PIRASO,UV Protection Rectangular Sunglasses (52),₹246,84% off
19,DEIXELS,UV Protection Aviator Sunglasses (Free Size),₹249,79% off
20,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹599,70% off
21,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719,20% off
22,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
23,SKYZA INDIA,"Polarized, UV Protection Sports Sunglasses (Fr...",₹489,59% off
24,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹561,71% off
25,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
26,SHAAH COLLECTIONS,UV Protection Round Sunglasses (52),₹179,87% off
27,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
28,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹699,65% off
29,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹679,15% off
30,NuVew,"UV Protection, Mirrored Aviator Sunglasses (57)",₹198,73% off
31,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649,74% off
32,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
33,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹719,20% off
34,NuVew,UV Protection Wayfarer Sunglasses (57),₹185,78% off
35,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",₹424,71% off
36,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,169",10% off
37,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹279,81% off
38,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹869,13% off
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹999,50% off

In [63]:
# for scrapping data from next pages, defining Start & End of the page
start= 0
end= 3
for page in range(start,end):
    
# Scrapping Brand detail from the next pages
    for j in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(j.text)
    
# Scrapping Product Description from the next pages
    for k in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
        pro1.append(k.text)
        
    for l in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        pro2.append(l.text)
        
    pro_des=pro1+pro2
    
# Scrapping Price from the next pages    
    for m in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(m.text)
    
  
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='ge-49M']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[page].get_attribute('href'))#getting the link from the list for next page
    except:
        print("Page not found")

In [66]:
print(len(brand),len(pro_des),len(price))

280 280 280

In [68]:
 #converting first 100 scrapped data into DataFrame
df1=pd.DataFrame({'Brand Name':brand,'Product Description':pro_des, 'Price':price})
df1.head(100)

           Brand Name                                Product Description Price
0         SKYZA INDIA  UV Protection, Mirrored Spectacle Sunglasses (...  ₹399
1              GANSTA    Gradient, UV Protection Aviator Sunglasses (57)  ₹272
2            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹799
3   SHAAH COLLECTIONS                UV Protection Round Sunglasses (54)  ₹179
4          LIZA ANGEL      UV Protection Wayfarer Sunglasses (Free Size)  ₹199
..                ...                                                ...   ...
95      VINCENT CHASE                UV Protection Round Sunglasses (47)  ₹649
96         Lee Topper   UV Protection Rectangular Sunglasses (Free Size)  ₹219
97  SHAAH COLLECTIONS             UV Protection Wayfarer Sunglasses (54)  ₹179
98             GANSTA         UV Protection Retro Square Sunglasses (53)  ₹202
99          ROYAL SON   Polarized, UV Protection Aviator Sunglasses (57)  ₹599

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:

1.First get the webpage https://www.flipkart.com/
    
2.Enter “iphone 11” in “Search” field .

3.Then click the search button.

As shown in the above page you have to scrape the tick marked attributes.These are:

1.Rating

2.Review summary

3.Full review

4.You have to scrape this data for first 100 reviews.

In [69]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [70]:
#getting webpage https://www.flipkart.com and directly login to product detail of iphone12 , as directed by Mentor 
driver.get('https://www.flipkart.com')

In [71]:
# closing the log-in page window
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [72]:
#entering "sunglasses" in "search for products" field
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('iPhone 11')

In [73]:
#clicking the Search button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [74]:
rate1=[]
rate2=[]
summary=[]
f_rev=[]

In [75]:
# for scrapping data from different pages to get first 100 reviews, defining Start & End of the page
start=0
end=15
for page in range(start,end):
    
# Scrapping rating from different pages 
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        rate1.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]'):
        rate2.append(i.text)
    rate=rate1+rate2

# Scrapping Review Summary from different pages
    for j in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        summary.append(j.text)
        
# Scrapping Full Review from different pages
    for k in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
        f_rev.append(k.text)
        
#scraping the list of reviews data from different pages
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href')) #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [76]:
print(len(rate),len(summary),len(f_rev))

138 138 138

In [78]:
 #converting scrapped data for first 100 reviews into DataFrame
df_new=pd.DataFrame({'Rating':rate,'Review Summary':summary,'Full Review':f_rev})
df_new.head(100)

,Rating,Review Summary,Full Review
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,4,Good quality product,impressively Nice......\nOne of the greatest i...
3,5,Perfect product!,Nice products thanks flkat
4,5,Simply awesome,Really satisfied with the Product I received.....
...,...,...,...
95,5,Terrific,I am using the phone for last 5 years and foun...
96,5,Good phone but not for the power user,Apple's iPhone series have been known for thei...
97,5,Super!,This review is after 6 year of purchasing this...
98,5,Excellent,awesome\n\nscreen quality better than any othe...
99,5,Must buy!,Its doenst need any review i guess so

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

1.Brand

2.Product Description

3.Price

In [109]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [110]:
#getting webpage https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [111]:
# closing the log-in page window
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [112]:
#entering "sneakers" in "search for products" field
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [113]:
#clicking the Search button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [114]:
#introducing list for brand, product description, price & discount
brand=[]
prod1=[]
prod2=[]
price=[]
discount=[]

In [115]:
# for scrapping data from different pages to get first 100 reviews, defining Start & End of the page
for page in range(0,3):
    
# Scrapping brand list from different pages 
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(i.text)
        
# Scrapping product description from different pages 
    for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        prod1.append(j.text)
        
    for c in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
        prod2.append(c.text)
    prod=prod1+prod2
    
# Scrapping price from different pages 
    for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(k.text)
   
       
#scraping the required data from different pages
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [116]:
# converting scrapped data for first 100 reviews into DataFrame
Sneaker_data=pd.DataFrame({'Brand':brand,'Product Description':prod,'Price':price})
Sneaker_data.head(100)

,Brand,Product Description,Price
0,Labbin,Sneakers For Men,₹499
1,RapidBox,Sneakers For Men,₹580
2,BRUTON,Modern Trendy Shoes Sneakers For Men,₹470
3,RED TAPE,Sneakers For Men,"₹1,499"
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹259
...,...,...,...
95,CALCADOS,Sneakers For Men,₹299
96,RED CHIEF,"Canvas Casual Sneakers For Walking,Running,Gym...","₹2,519"
97,World Wear Footwear,Sneakers For Men,₹298
98,Layasa,Ziller V2 Sneakers For Men,₹494
99,Cipramo Sports,Sneakers For Men,₹899

Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

In [159]:
#getting webdriver
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [160]:

driver.get('https://www.myntra.com/shoes')

In [161]:
color_fitler=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_fitler.click()

In [162]:
price_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [163]:
urls=[]
Brand=[]
Description=[]
Price=[]
for i in range(0,3):
    for j in driver.find_elements(By.XPATH,"//ul[@class='results-base']//a"):
        urls.append(j.get_attribute('href'))
    for i in range(0,3):
        for i in driver.find_elements(By.XPATH,"//h3[@class='product-brand']"):
            Brand.append(i.text)
        for i in driver.find_elements(By.XPATH,"//h4[@class='product-product']"):
            Description.append(i.text)
        for i in driver.find_elements(By.XPATH,"//div[@class='product-price']//span"):
            Price.append(i.text)
        driver.find_element(By.XPATH,"//li[@class='pagination-next']//a").click()
        time.sleep(4)

In [164]:
print(len(Brand),len(Description))

450 450 1032

In [166]:
# converting scrapped data for first 100 reviews into DataFrame
Shoes_data=pd.DataFrame({'Brand':Brand,'Product Description':Description})
Shoes_data.head(100)

               Brand                Product Description
0           Skechers          Men Go Walk Walking Shoes
1           Skechers          Men GO WALK - TERRA Shoes
2             ADIDAS      Men 4DFWD_Pulse Running Shoes
3   ADIDAS Originals           Men ZX 22 BOOST Sneakers
4           Skechers          GO WALK STRETCH FIT Shoes
..               ...                                ...
95              Puma              Women Enlighten Shoes
96              Puma       Men Velocity Nitro 2 Running
97            ADIDAS           Women EQ21 Running Shoes
98    Tommy Hilfiger               Men Leather Sneakers
99      Hush Puppies  Men Solid Leather Formal Slip-Ons

[100 rows x 2 columns]

Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

1.Title

2.Ratings

3.Price

In [119]:
#Getting web driver
driver = webdriver.Chrome(r"C:\Users\Dell\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [120]:
#getting webpage https://www.amazon.in/
driver.get('https://www.amazon.in/')

In [121]:
# entering "Laptop" in search field
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [122]:
# clicking on the search button
search_button=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_button.click()

In [124]:
# setting CPU Type filter to “Intel Core i7” as required
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[15]/span/a/span')
cpu_type.click()

In [125]:
# Scrapping product title from the webpage
title=[]
for i in driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')[0:10]:
    title.append(i.text)

In [126]:
# Scrapping product price from the webpage
price=[]
for j in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')[0:10]:
    price.append(j.text)

In [127]:
# converting scrapped data for first 10 Laptops data into DataFrame
Laptop=pd.DataFrame({'Title':title,'Price':price}) 
Laptop.head(10)

                                               Title   Price
0  Sponsored\nAcer Extensa 15 Lightweight Laptop ...  38,990
1  Sponsored\nHP 14s, 11th Gen Intel Core i3-1115...  42,990
2  Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th ...  37,999
3  Lenovo IdeaPad D330 Intel Celeron N4020 10.1" ...  32,990
4  ASUS Vivobook 15, 15.6" (39.62 cm) FHD, AMD Du...  37,999
5  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  20,990
6  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...  17,990
7  (Renewed) Dell Latitude E5470 Intel Core i5 6t...  34,990
8  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...  21,990
9  Lenovo IdeaPad Slim 1 AMD Ryzen 5 3500U 15.6" ...  25,990

Q-9. Kindly  skip Q. 9  of assignment 2 due to some issue of the site.
According to SME.